<h1> Congratulations, you've reached the home page! </h1>
<ul>
  <li><%= link_to "Add new customer", new_customer_path %></li>
  <li><%= link_to "Add new project", new_project_path %></li>
  <li><%= link_to "Add new task", new_task_path %></li>
  <li><%= link_to "View My Tasks", task_entries_path %></li>
</ul>