<div class="container text-center">
  <h1> Welcome to the CMM Time Tracker! </h1>
  <ul class="list-unstyled">
    <li><%= link_to "Add New Customer", new_customer_path %></li>
    <li><%= link_to "Add New Project", new_project_path %></li>
    <li><%= link_to "Add New Task", new_task_path %></li>
    <li><%= link_to "View My Tasks", task_entries_path %></li>
  </ul>
</div>